---
import PageLayout from "../layouts/PageLayout.astro";

const title = "Мои посты"
const allPosts = await Astro.glob('./posts/*.md');
const sortedPosts = allPosts.sort((a, b) => 
    new Date(b.frontmatter.date).getTime() - new Date(a.frontmatter.date).getTime());
---

<PageLayout title={title}>
    <div class="hero">
        <div class="hero__container">
            <h1>{title}</h1>	
            <ul>
            {sortedPosts.map(post => {
                const slug = post.file?.split('/')?.pop()?.replace('.md', '') ?? '';
                return (
                <li>
                    <a href={`/posts/${slug}/`}>
                    <h2>{post.frontmatter.title}</h2>
                    </a>
                    <p>{post.frontmatter.description}</p>
                    <small>{new Date(post.frontmatter.date).toLocaleDateString()}</small>
                </li>
                );
            })}
            </ul>
        </div>
    </div>
</PageLayout>